<footer class="footer">
    <div class="footer-social">
        {{#if @site.twitter}}
            <a href="{{twitter_url}}" target="_blank" rel="noopener">
                <span class="sr-only">Twitter</span>
                {{> "icons/twitter"}}
            </a>
        {{/if}}
        {{#if @site.facebook}}
            <a href="{{facebook_url}}" target="_blank" rel="noopener">
                <span class="sr-only">Facebook</span>
                {{> "icons/facebook"}}
            </a>
        {{/if}}
    </div>
    <div class="footer-info">
        <p class="footer-copyright">
            <a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}. <br /> {{{t "Powered by {ghostlink}. Scriptor theme by {jgtlink}. " ghostlink="<a target=\"_blank\" href=\"https://ghost.org\" rel=\"noopener\">Ghost</a>" jgtlink="<a target=\"_blank\" href=\"https://justgoodthemes.com/\" rel=\"noopener\">Just Good Themes</a>" }}}
        </p>
        <a href="#page" class="footer-top-btn">
            <span class="sr-only">Back to the top </span>
            {{> "icons/arrow-up"}}
        </a>
    </div>
</footer>
