{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The tag below includes the blog header - partials/header.hbs }}
{{> header}}

<main class="main-content" role="main">
	<section>

		{{! Everything inside the #author tags pulls data from the author }}
		{{#author}}
		<header class="page-header">
			<div class="author-box">
				{{#if image}}
				<div class="author-avatar" style="background-image: url({{image}})"><span class="screen-reader-text">{{name}}&#39;s Picture</span></div>
				{{/if}}
				<div class="author-details">
					<div class="author-stats">{{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</div>
					<h3 class="author-title">{{name}}</h3>
					{{#if bio}}
					<p class="author-bio">{{bio}}</p>
					{{/if}}
					<div class="author-meta">
						{{#if location}}
						<span class="author-location">{{location}}</span>
						{{/if}}
						{{#if website}}
						<span class="author-website"><a href="{{website}}" target="_blank">{{website}}</a></span>
						{{/if}}
					</div><!-- .author-meta -->
				</div><!-- .author-details -->
			</div><!-- .author-box -->
		</header><!-- .page-header -->
		{{/author}}
		
		{{! The tag below includes the post loop - partials/loop.hbs }}
		{{> "loop"}}

		{{! Previous/next page links - displayed on every page }}
		{{pagination}}

	</section>
</main><!-- .main-content -->

{{! The tag below includes the theme footer - partials/footer.hbs }}
{{> footer}}
