<!DOCTYPE html>
<html lang="{{@site.locale}}">
    <head>
        {{!-- Document Settings --}}
        <meta charset="utf-8">

        {{!-- Page Meta --}}
        <title>{{meta_title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {{!-- Styles --}}
        <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />

        {{!-- SEO meta+structured data and other important settings --}}
        {{ghost_head}}
    </head>
    <body id="page" class="{{body_class}}">
        <div class="container">
            {{!-- The tag below includes the theme header - partials/header.hbs --}}
            {{> header}}
            {{!-- Everything else gets inserted here --}}
            {{{body}}}
            {{!-- The tag below includes the theme footer - partials/footer.hbs --}}
            {{> footer}}
        </div>

        {{!-- Scripts --}}
        <script src="{{asset "js/index.js"}}"></script>
        {{#is "post, page"}}
        <script src="{{asset "js/post.js"}}"></script>
        {{/is}}

        {{!-- Ghost scripts and data. Should always be the very last thing before the closing body tag --}}
        {{ghost_foot}}
    </body>
</html>
