<!DOCTYPE html>
<html>
	<head>
		{{!-- Document Settings --}}
		<meta charset="utf-8">

		{{!-- Page Meta --}}
		<title>{{meta_title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{{!-- Styles --}}
		<link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic%7CLato:400,400italic,700,700italic" />

		{{!-- Ghost outputs important style and meta data with this tag --}}
		{{ghost_head}}
	</head>
	<body class="{{body_class}}">
		<div id="page" class="site inner">
			{{!-- The tag below includes the theme header - partials/header.hbs --}}
			{{> header}}
			{{!-- Everything else gets inserted here --}}
			{{{body}}}
			{{!-- The tag below includes the theme footer - partials/footer.hbs --}}
			{{> footer}}
		</div><!-- .inner -->

		{{!-- Scripts --}}
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="{{asset "js/jquery.fitvids.js"}}"></script>
		<script src="{{asset "js/custom.js"}}"></script>

		{{!-- Ghost outputs important scripts and data with this tag --}}
		{{ghost_foot}}

	</body>
</html>
