{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The tag below includes the blog header - partials/header.hbs }}
{{> header}}

<main class="main-content" role="main">

	{{! Everything inside the #post tags pulls data from the page }}
	{{#post}}
	<article class="{{post_class}}" role="article">
		<header class="post-header">
			<h1 class="post-title">{{title}}</h1>
			{{#if tags}}
			<div class="post-meta">
				{{tags prefix="Posted in "}}
			</div><!-- .post-meta -->
			{{/if}}
			{{#if image }}
				<div class="post-thumbnail"><img src="{{image}}" alt="{{title}}" /></div>
			{{/if}}
		</header><!-- .post-header -->
		<div class="post-content">
			{{content}}
		</div><!-- .post-content -->
	</article>
	{{/post}}

</main><!-- .main-content -->

{{! The tag below includes the theme footer - partials/footer.hbs }}
{{> footer}}
