{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The main content area on the single post --}}
<main class="main-content">

	{{!-- Everything inside the #post tags pulls data from the page --}}
	{{#post}}
	<article class="{{post_class}}">
		<header class="post-header">
			{{#if featured}}
			<span class="featured-post">&darr; Featured</span>
			{{/if}}
			<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
			<h1 class="post-title">{{title}}</h1>
			<div class="post-meta">
				Posted by {{author}} {{tags prefix=" in "}}
			</div><!-- .post-meta -->
			{{#if feature_image}}
			<div class="post-thumbnail"><img src="{{feature_image}}" alt="{{title}}" /></div>
			{{/if}}
		</header><!-- .post-header -->
		<div class="post-content">
			{{content}}
		</div><!-- .post-content -->
		<div class="share-post">
			<span>Share this post:</span>
			<a target="_blank" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}">Twitter</a>
			<a target="_blank" href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}">Facebook</a>
			<a target="_blank" href="https://plus.google.com/share?url={{url absolute="true"}}">Google+</a>
		</div><!-- .share-post -->
		{{!-- Everything inside the #author tags pulls data from the author --}}
		{{#author}}
		<div class="author-box{{^if profile_image}} no-avatar{{/if}}">
			{{#if profile_image}}
			<a class="author-avatar" href="{{@blog.url}}/author/{{slug}}" style="background-image: url({{profile_image}})"><span class="screen-reader-text">{{name}}&#39;s Picture</span></a>
			{{/if}}
			<div class="author-details">
				<h2 class="author-title">About <a href="{{url}}">{{name}}</a></h2>
				{{#if bio}}
				<p class="author-bio">{{bio}}</p>
				{{/if}}
				<div class="author-meta">
					{{#if location}}
					<span class="author-location">{{location}}</span>
					{{/if}}
					{{#if website}}
					<span class="author-website"><a href="{{website}}" target="_blank">{{website}}</a></span>
					{{/if}}
					{{#if facebook}}
					<span class="author-facebook"><a href="{{facebook_url}}" target="_blank">Facebook</a></span>
					{{/if}}
					{{#if twitter}}
					<span class="author-twitter"><a href="{{twitter_url}}" target="_blank">Twitter</a></span>
					{{/if}}
				</div><!-- .author-meta -->
			</div><!-- .author-details -->
		</div><!-- .author-box -->
		{{/author}}
	</article>
	{{/post}}

	{{!-- The tag below includes the theme comments - partials/comments.hbs --}}
	{{> comments}}

</main><!-- .main-content -->
